<% provide :title, t(".title") %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".the" %>
  <em><%= link_to t(".railstutorial"), Settings.railstutorial %></em>
  <%= t ".isa" %>
  <%= link_to t(".book"), Settings.railsbook %>
  <%= t ".and" %>
  <%= link_to t(".screencasts"), Settings.railssc %>
  <%= t ".nextsc" %>
  <%= link_to t(".rubyonrails"), Settings.rubyonrails %>.
  <%= t ".last" %>
</p>
