<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".firsthelp" %>
  <%= link_to t(".railshelp"), Settings.railshelp %>.
  <%= t ".nexthelp" %>
  <em><%= link_to t(".railstutorial"), Settings.railsbook %></em>
  <%= t ".book" %></a>.
</p>
