<footer class="footer">
  <small>
    <%= t ".the" %>
    <%= link_to t(".railstutorial"), Settings.railstutorial %>
    <%= t ".by" %>
    <%= link_to t(".michaelhartl"), Settings.michaelhartl %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".buton_about"), "/about" %></li>
      <li><%= link_to t(".buton_contact"), "/contact" %></li>
      <li><%= link_to t(".news"), Settings.railstutorial %></li>
    </ul>
  </nav>
</footer>
